img {
    width: 10%;
    height: auto;
  }

details {
    width: 50%;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 5% 5%;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.line {
    display: flex;
}

.contact_img {
    width: 10%;
    height: auto;
}

.skills_img {
    width: 12%;
    height: auto;
}

.stars {
    width: 10%;
    height: auto;
}